<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
	<b>Items:</b>
	<ul>
	<% @category.items.each do |i| %>
		<li><%= i.name %></li>
	<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
